set JAVA_HOME=/usr/local/java/jdk1.7.0_67
set GROOVY_HOME=/usr/local/groovy/groovy-2.1.9

set GRADLE_HOME=/usr/local/gradle/gradle-2.0
set ECLIPSE_HOME=/usr/local/eclipse/eclipse-platform-4.4-win32/eclipse

set MYSQL_HOME=/usr/local/mysql/mysql-5.6.20-win32
set MYSQL_LOGON=-uroot -proot

set ORA_HOME=C:/oraclexe/app/oracle/product/11.2.0/server
set ORA_DATADIR=C:/oraclexe/app/oracle/oradata/XE
set ORA_LOGON=ddshell_quickstart/ddshell_quickstart
